/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: var(--color-light);
  color: var(--color-dark);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
